/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero {
  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
  .lg-container {
    position: relative;
    max-width: 760px;
    padding: 0 25px;
    margin: auto;
  }
  h2 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
  }
  h2 span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
  }
  .container {
    position: relative;
    max-width: 400px;
    padding: 0 25px;
    margin: auto;
  }
  .hero .container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .logo {
    width: 100%;
  }
  .hero input[type=text] {
    background: transparent;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 24px;
    width: 100%;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    line-height: 2;
    color: #fff;
    margin-bottom: 20px;
  }
  .hero input[type=text]:focus {
    outline: none;
  }
  .hero input[type=submit] {
    background: #FF3771;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 24px;
    width: 100%;
    line-height: 2;
    color: #fff;
    border-radius: 5px;
  }
  .hero input[type=submit]:hover {
    background: #ff5f8d;
  }
  .section {
    padding: 60px 0;
    background: #f2f2f2;
  }

h1 {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 60px;
}

.share-buttons {
  text-align: center;
}
.a2a_counter {
  float: none !important;
  display: inline-block !important;
}

footer {
  background: #26343f;
  padding: 60px 0;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  overflow: auto;
  zoom: 1;
}
footer .left {
  float: left;
}
footer .right {
  float: right;
  margin-right: -10px;
}

.social {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 10px;
  opacity: 0.75;
}
.social:hover {
  opacity: 1;
}
.facebook {
  background: url('../img/facebook.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.twitter {
  background: url('../img/twitter.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.email {
  background: url('../img/mail.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen
  and (max-width: 500px) {
    footer .left,
    footer .right {
      display: block;
      text-align: center;
      width: 100%;
    }
    footer .left {
      margin-bottom: 30px;
    }
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
